.header-box{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-button{
    height: 30px;
    width: 200px;
    margin: 20px;
    cursor:pointer;
}
