.road-box{
    width: 100%;

    background-color: aqua;
    border: 1 px solid black;
}
.road-line{
    width: 100%;
    height: 5px;
    border-top: dashed 3px green;
}
.car-img{
    transform: scale(0.3);
    margin-right: 80%;
    margin-bottom: -70px;
   margin-top: -40px;
}
.road-btns{
    display: flex;

}
.car-name{
    font-size: 2rem;
    color: blue;

}
button{
    cursor: pointer;
}
button:hover{
    background-color:aqua;
}