.road-box{
    width: 100%;

    background-color: aqua;
    border: 1 px solid black;
}
.road-line{
    width: 100%;
    height: 5px;
    border-top: dashed 3px green;
}
.car-img{
    transform: scale(0.5);
    margin-right: 80%;
}